* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	--color-primary: #6c63ff;
	--color-success: #00bf8e;
	--color-warning: #f7c94b;
	--color-danger: #f75842;
	--color-danger-variant: hsl(358, 100%, 18%);
	--color-white: #fff;
	--color-white-transparent: hsl(0, 100%, 100%, 0.7);
	--color-light: hsl(0, 0%, 75%);
	--color-dark: #000;
	--color-bg: #1f2641;
	--color-bg-1: #2e3267;
	--color-bg-2: #424890;

	--transition: all 400ms ease;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	color: var(--color-white);
	background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

h1 {
	font-size: 2.4rem;
	margin: 0;
}

h2 {
	font-size: 2.0rem;
	margin: 0;
}

h3 {
	font-size: 1.6rem;
	margin: 0;
}

h4 {
	font-size: 1.3rem;
	margin: 0;
}

h5 {
	font-size: 1.1rem;
	margin: 0;
}

a {
	color: var(--color-white);
	text-decoration: none;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

/* ====================== SIDE BAR ========================= */
aside {
	height: 100vh;
	background-color: var(--color-bg-1);
}

aside a {
	transition: var(--transition);
}

aside a:hover {
	color: var(--color-white-transparent);
}

.top {
	padding-top: 2rem;
	margin-bottom: 2rem;
}

.logo>img {
	width: 2.5rem;
	height: 2.5rem;
	object-fit: cover;
}

.sidebar__item {
	display: flex;
	gap: 0 1rem;
	padding: .4rem 0;
	align-items: center;
}

/* ====================== MAIN ========================= */

.rivers {
	margin-top: 2rem;
}

.river {
	border-radius: 0.9rem;
	background-color: var(--color-bg-1);
	margin: 0 0.5rem;
	padding: 1rem 2rem;
	transition: var(--transition);
}

.river:hover {
	background-color: var(--color-bg-2);
}
